html { 
    zoom: .8; 
}

.body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 250px 0 250px;
    margin: 0;

    /* width: 80%;
    height: 80%;
    transform: 80%; */
    

}

.all {
    max-width: 1300px;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    

}


.header {
    background-color: #1f2937;
    color: white;
    padding: 10px 100px 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
    
    
}

.links {
    font-size: 18px;
    
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;    
}

.one    {
    background-color: #1f2937;     
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px;
    flex: 1;
    gap: 40px;
    
}

.left {
    background-color: #1f2937; 
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
    
}

.p-one-1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    padding: 0;
    margin: 0;
    line-height: 90%;
    
}

.p-one-2 {
    font-size: 18px;
    color: #e5e7eb;
}

.button1 {
    background-color: #388ff6;
    width: 100px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
}

.right {
    display: flex;
    background-color: #1f2937; 
    align-self: center;
    justify-content: right;
    flex: 1; 
    width: 50%;
       
}

.right img {
    max-width: 380px;
    min-width: 250px;
    aspect-ratio: 6/3;
    border: 0;
    border-radius: 10px; 
}

.two {
    background-color: white;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.p-two-1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    margin-top: 0;
    padding-top: 0;
   
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    }

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    
}

.cards-container img {
    width: 100%;
    /* max-width: 150px; */
    border: 5px solid #388ff6;
    border-radius: 10px;
    aspect-ratio: 1/1;
}

.cards-container p {
    font-size: 16px;
    font-weight: 100;
    color: #5d5f64;
    text-align: center;
}

.three {
    display: flex;
    background-color: #e5e7eb;
    padding: 50px 170px;
    flex: 1;
    flex-direction: column;
}

.p-three-1 {    
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
    color: #444649;  
    margin: 0;
    padding: 0;  
    text-align: justify;
}

.p-three-2 {
    text-align: right;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.four {
    padding: 50px 100px;
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: #388ff6; 
    border: 3px solid white;
    border-radius: 10px; 
    padding: 30px 90px;
    color: white;

}

.button2 {
    width: 100px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: #388ff6;
}

.four .left {
    
    flex: 1 1 80%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #388ff6; 
}

.p-four-1 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    margin: 0;
}

.p-four-2 {
    padding: 0;
    margin: 0;
}

.four .right {
    flex: 1;
    background-color: #388ff6; 
    justify-content: right;

}

.footer {
    background-color: #1f2937; 
    color: white;
    font-size: 12px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}







