.body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;

}


.header {
    background-color: #1f2937;
    color: white;
    padding: 10px 100px 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.logo {
    font: 24px #f9faf8;
    font-weight: 600;
}

.links {
    font: 18px #e5e7eb;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 20px;
}

li {    
    font-size: 14px;
}

a {
    text-decoration: none;
    color: white;
}

.p-one-1 {
    font: 48px extra-bold #f9faf8;
}

.p-one-2 {
    font: 18px #e5e7eb;
}

.one    {
    background-color: #1f2937; 
}

.two   {
    background-color: white;
    
}

.p-two-1 {
    font: 36px extra-bold #1f2937;
}

.three {
    background-color: #e5e7eb;
}

.p-three-1 {
    font: 36px light italic #1f2937;
}

.footer {
    background-color: #1f2937; 
}

.button1 {
    background-color: #388ff6;
}

.button2 {

}

.banner {
    background-color: #388ff6;
}



